@charset "utf-8";
/* Reset borrowed from html5boilerplate.com (via Eric Meyer and HTML5Doctor), then trimmed */
html, body, div, span, h1, p, pre, a, code, em, img, strong, ul, li,
article, header, section {	margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
article, header, section { display:block; }
::-moz-selection { background: #0069d2; color:#fff; text-shadow: none; }
::selection { background:#0069d2; color:#fff; text-shadow: none; }

html {
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  /*height: 100%;*/
  line-height: 1.4em;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", Calibri, Trebuchet, Helvetica, sans-serif;
  font-smooth: always;
  font-size: 1.2em;
  background-color: #f9f9f9;
  color: #444;
  background: -moz-linear-gradient(top, #efefef 0%, #f9f9f9 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f9f9f9)); /* webkit */
}

header, h1 {
  margin: 0 auto;
  text-align: center;
  font-family: "ff-masala-web-pro-1", "ff-masala-web-pro-2", Calibri, Trebuchet, Helvetica, sans-serif;
  font-size: 140%;
}

h1 {
  margin-bottom: 1em;
}

a:hover {
  text-decoration: none;
}


article {
  max-width: 960px;
  margin: 1em auto;
  padding: 1em;
  height: 100%;
  /*overflow: hidden;*/
  background-color: #fff;
  -moz-box-shadow: 0 0 4px rgba(100,100,100,0.4);
  -webkit-box-shadow: 0 0 4px rgba(100,100,100,0.4);
  -o-box-shadow: 0 0 4px rgba(100,100,100,0.4);
  box-shadow: 0 0 4px rgba(100,100,100,0.4);
}

p {
  margin-bottom: 0.5em;
}

code {
  /* Borrowed from StackOverflow.com */
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

#command-list {
  margin-top: 1em;
  list-style: none outside none;
}

#command-list li {
  padding: 0.5em;
  line-height: 1.6em;
  min-height: 1.6em;
  vertical-align: middle;
}

#command-list code {
  display: inline-block;
  color: #000;
  border: 1px solid #444;
  background-color: #eee;
  padding: 0.2em;
  margin-left: 0.5em;
}

#command-list input[type="button"] {
  color: white;
  border: none;
  font-size: 110%;
  font-weight: bold;
  text-shadow: 0 -1px rgba(0,0,0,0.4);
  padding: 0.2em;
  background-color: #7abcff; /* old browsers */
	background-image: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7abcff), color-stop(44%,#60abf8), to(#4096ee)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* ie */
  -moz-box-shadow: 0 0 4px rgba(100,100,100,0.5);
  -webkit-box-shadow: 0 0 4px rgba(100,100,100,0.5);
  -o-box-shadow: 0 0 4px rgba(100,100,100,0.5);
  box-shadow: 0 0 4px rgba(100,100,100,0.5);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: 0.2s all ease-out;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

#command-list input[type="button"]:hover {
  color: white;
  border: none;
  font-size: 110%;
  font-weight: bold;
  text-shadow: 0 -1px rgba(0,0,0,0.7);
  padding: 0.2em;
  background-color: #4096ee; /* old browsers */
	background-image: -moz-linear-gradient(top, #4096ee 0%, #60abf8 44%, #4096ee 100%); /* firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4096ee), color-stop(44%,#60abf8), to(#4096ee)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60abf8', endColorstr='#4096ee',GradientType=0 ); /* ie */
  -moz-box-shadow: 0 0 2px rgba(100,100,100,0.3);
  -webkit-box-shadow: 0 0 2px rgba(100,100,100,0.3);
  -o-box-shadow: 0 0 2px rgba(100,100,100,0.3);
  box-shadow: 0 0 2px rgba(100,100,100,0.3);
}